[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
beautifulsoup4 = "*"

[scripts]
sp_test = "python spider/keibalab_spider.py 20200125"
crawl = "python spider/keibalab_spider 20180201 20180228"
scrape = "python scraper/keibalab_scraper.py"

[requires]
python_version = "3.7"
